<head>
    <style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
 th, td {
  border: 1px solid black;
}
</style>
</head>
<div align="center" style="vertical-align:bottom">
<table>
    <thead>
        <tr>
            <th>SCHEDULE ID</th>
            <th>PAYMENT DATE</th>
            <th>PRINCIPLE</th>
            <th>PROJECTED INTEREST</th>
            <th>PAYMENT AMOUNT</th>
           
            
            
        </tr>
        <tr *ngFor="let data of formData">
            <th>{{data.custScheduleId}}</th>
            <th>{{data.paymentDate}}</th>
            <th>{{data.principal}}</th>
            <th>{{data.projectedIntrest}}</th>
            <th>{{data.paymentAmount}}</th> 
        </tr>
    </thead>
</table>
</div>